* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* common */
.bianco {
    color: white;
}

/* fine common */


/* nav */
.navigation-section {
    float: left;
    width: 250px;
    height: calc(100vh - 100px);
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-left: 20px;
    background-color: black;
}

nav .logo img {
    width: 160px;
    height: 100px;
}

/* research */
nav .research {
    width: 100%;
    height: 15%;
    background-color: black;
    padding: 5px 0 5px 20px;
}

.research svg {
    width: 30px;
    height: 30px;
}

.research div a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(113, 113, 113);
    line-height: 34px;
    vertical-align: middle;
}

.research div .bianco {
    color: white;
}

.research div a svg {
    line-height: 34px;
    vertical-align: middle;
}

.research div a:hover {
    color: white;
}
/* fine research */

/* playlist */
nav .play-list {
    width: 100%;
    height: 65%;
    background-color: black;
}

.play-list h3 {
    padding: 25px 0 10px 20px;
}

#pulsante {
    display: inline-block;
}

#pulsante {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#pulsante > i {
    font-size: 20px;
}

.play-list span {
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 19px;
    padding-left: 10px;
}

nav ul > li {
    color: rgb(113, 113, 113);
    padding: 10px 0 10px 20px;
    font-weight: 600; 
}

.play-list span:hover,
.play-list ul li:hover {
    color: white;
}
/* fine playlist */

/* account */
nav .account {
    width: 100%;
    height: 10%;
}


/* fine account */
/* fine nav */


/* main */
.middle-section {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    margin-left: 250px;
}
/* fine main */


/* footer */
.play-section {
    width: 100%;
    height: 100px;
}
/* fine footer */

@media (max-width: 600px) {
    .navigation-section {
        width: 60px;
    }

    nav .logo img {
        display: none;
    }



    .middle-section {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
} 













/* debug */ 
 
nav .account {
    background-color: rgb(25, 41, 41);
}


.middle-section {
    background-color: rgb(26, 75, 77);
}

.play-section {
    background-color: cornflowerblue;
}
/* fine debug */