* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* common */

/* fine common */


/* nav */
.navigation-section {
    float: left;
    width: 250px;
    height: calc(100vh - 100px);
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-left: 20px;
    background-color: black;
}

nav .logo img {
    width: 160px;
    height: 100px;
}

/* research */
 nav .research {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: black;
}
nav .img-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 5px 20px;
}

 nav .testo-svg {
    position: absolute;
    top: 11px;
    left: 55px; 
}

nav .research svg {
    width: 30px;
    height: 30px;
}

nav .testo-svg p {
    color: rgb(113, 113, 113);
    font-weight: 600;
    padding-bottom: 15px;
}
/* fine research */


 nav .play-list {
    width: 100%;
    height: 65%;
}

nav .account {
    width: 100%;
    height: 10%;
}



/* fine nav */


/* main */
.middle-section {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    margin-left: 250px;
}
/* fine main */


/* footer */
.play-section {
    width: 100%;
    height: 100px;
}
/* fine footer */

@media (max-width: 600px) {
    .navigation-section {
        width: 60px;
    }

    nav .logo img {
        display: none;
    }



    .middle-section {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
} 













/* debug */ 
nav .play-list {
    background-color: rgb(50, 119, 119);
}
 
nav .account {
    background-color: rgb(25, 41, 41);
}


.middle-section {
    background-color: rgb(26, 75, 77);
}

.play-section {
    background-color: cornflowerblue;
}
/* fine debug */