* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* common */
.bianco {
    color: white;
}

.grigio {
    color: rgb(113, 113, 113);
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* fine common */


/* nav */

.navigation-section {
    float: left;
    width: 250px;
    height: calc(100vh - 100px);
}

.nav-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 80px);
    background-color: black;
    overflow-y: hidden;
}

.nav-top > div {
    padding-left: 20px;

}

.nav-top .logo {
    padding: 20px;
}

.nav-top .logo > img {
    width: 70%;
}

.hover-top a:hover {
    filter: brightness(0) invert(1);
}


/* research */
.research svg {
    width: 30px;
    height: 30px;
}

.research div a {
    text-decoration: none;
    font-weight: 600;
}


/* fine research */

/* playlist */
.nav-top .play-list {
    padding: 20px;
    overflow: hidden;
}

.play-list h3 {
    padding-bottom: 10px;
}

#pulsante {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#pulsante > i {
    font-size: 20px;
}

.play-list span {
    font-weight: 600;
    font-size: 19px;
    padding-left: 10px;
}

.nav-top > .play-list > ul {
    height: 80%;
    overflow-y: auto;
}

.nav-top ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600; 
}

.nav-top ul li > a {
    color: rgb(113, 113, 113);
}

.play-list span:hover,
.play-list ul li a:hover {
    color: white;
}
/* fine playlist */

/* account */
.nav-giu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: black;
}

.account .app {
    margin: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(113, 113, 113);
}

.app a {
    padding-right: 10px;
}

.app span {
    font-weight: 600;
}

.account .access {
    margin: 0 20px;
    padding-top: 10px;
}

.access a  {
    font-size: 25px;
    padding-right: 10px;
}

.access span {
    font-size: 17px;
    font-weight: 700;
}

.account a:hover,
.account i:hover,
.account span:hover {
    color: white;
}

.nav-giu .app > a:hover {
    filter: brightness(0) invert(1);
}
/* fine account */
/* fine nav */


/* main */
.middle-section {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    margin-left: 250px;
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
}

.middle-section .top-mid {
    width: 100%;
    height: 10%;
    background-color: rgb(8, 11, 18);
}

.middle-section .upgrade {
    float: right;
    width: 250px;
    height: 40px;
    border: 2px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 9px 0;
    margin-right: 10px;
    margin-top: 22px;

}

.upgrade > h5 {
    color: white;
}

.mid-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-weight: 600; 
}

.mid-center a {
    padding: 0 20px;
    color: rgb(113, 113, 113);
}

.primo {
    margin: 30px 0 30px 20px;
}

.dischi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.metal,
.stranger,
.place,
.split,
.cure,
.sinister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.metal img,
.stranger img,
.place img,
.split img,
.cure img,
.sinister img {
    width: 250px;
    height: 250px;
    padding-bottom: 15px;
}

.metal p:first-of-type,
.stranger p:first-of-type,
.place p:first-of-type,
.split p:first-of-type,
.cure p:first-of-type,
.sinister p:first-of-type {
    color: white;
    font-weight: 600;
    padding-bottom: 10px;
}

.metal p:last-of-type,
.stranger p:last-of-type,
.place p:last-of-type,
.split p:last-of-type,
.cure p:last-of-type,
.sinister p:last-of-type {
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
}

.tit {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
}

.subtit {
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 13px;
    margin-left: 20px;
}

.jon,
.artisti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 20px;

}
.radar,
.mix,
.rey,
.ludo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radar img,
.mix img {
    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.personale {
    font-weight: 600;
    color: white;
    margin-right: 50px;
}

.rey img,
.ludo img {
    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.finale {
    margin-bottom: 50px;
    font-weight: 600;
    color: white;
    margin-right: 35px;
}

.mid-center a:hover {
    color: white;

}
/* fine main */


/* footer */
.play-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
}

/* footer left */
.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 100%;
}

.footer-left img {
    float: left;
    width: 20%;
    margin-left: 10px;
    margin-right: 15px;
}

.lft-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lft-1 p:first-of-type {
    font-weight: 600;
    color: white;
}

.lft-2 i {
    padding-left: 15px;
    color: rgb(113, 113, 113);
}


/* fine footer left */


/* footer center */
.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

.col-felx {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-center .icon-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-center > a > i {
    color: white;
    padding: 0 20px;
}

.line-center {
    display: flex;
    align-items: center;
}

.line-center > p {
    color: white;
    font-weight: 600;
}

.icon-center .play {
    font-size: 35px;
}

.line-1 {
    position: relative;
    width: 40vw;
    height: 5px;
    background-color: rgb(113, 113, 113);
    border-radius: 3px;
    margin-left: 30px;
    margin-right: 30px;
    margin: 20px 40px;
}

.line-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}
/* fine footer center */


/* footer right */
.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
    margin-right: 10px;
}

.footer-right > a > i  {
    color: white;
    padding: 0 15px;
}

.footer-right .line-3 {
    position: relative;
    width: 12vw;
    height: 5px;
    background-color: rgb(113, 113, 113);
    border-radius: 3px;
}

.line-4 {
    position: absolute;
    width: 2vw;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}
/* fine footer right */
/* fine footer */








/* @media (max-width: 600px) {
    .navigation-section {
        width: 60px;
    }

    .middle-section {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}  */
