* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* common */
.bianco {
    color: white;
}

.grigio {
    color: rgb(113, 113, 113);
}

a {
    text-decoration: none;
}

/* fine common */


/* nav */

.navigation-section {
    float: left;
    width: 250px;
    height: calc(100vh - 100px);
}

.nav-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 80px);
    background-color: black;
    overflow-y: hidden;
}

.nav-top > div {
    padding-left: 20px;

}

.nav-top .logo {
    padding: 20px;
}

.nav-top .logo > img {
    width: 70%;
}

.hover-top a:hover {
    filter: brightness(0) invert(1);
}


/* research */
.research svg {
    width: 30px;
    height: 30px;
}

.research div a {
    text-decoration: none;
    font-weight: 600;
}


/* fine research */

/* playlist */
.nav-top .play-list {
    padding: 20px;
    overflow: hidden;
}

.play-list h3 {
    padding-bottom: 10px;
}

#pulsante {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#pulsante > i {
    font-size: 20px;
}

.play-list span {
    font-weight: 600;
    font-size: 19px;
    padding-left: 10px;
}

.nav-top > .play-list > ul {
    height: 80%;
    overflow-y: auto;
}

.nav-top ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600; 
}

.nav-top ul li > a {
    color: rgb(113, 113, 113);
}

.play-list span:hover,
.play-list ul li a:hover {
    color: white;
}
/* fine playlist */

/* account */
.nav-giu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: black;
}

.account .app {
    margin: 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(113, 113, 113);
}

.app a {
    padding-right: 10px;
}

.app span {
    font-weight: 600;
}

.account .access {
    margin: 0 20px;
    padding-top: 10px;
}

.access a  {
    font-size: 25px;
    padding-right: 10px;
}

.access span {
    font-size: 17px;
    font-weight: 700;
}

.account a:hover,
.account i:hover,
.account span:hover {
    color: white;
}

.nav-giu .app > a:hover {
    filter: brightness(0) invert(1);
}
/* fine account */
/* fine nav */


/* main */
.middle-section {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    margin-left: 250px;
    background-color: rgb(20, 25, 34);
}

.middle-section .top-mid {
    width: 100%;
    height: 10%;
    background-color: rgb(8, 11, 18);
}

/* fine main */


/* footer */
.play-section {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
}

/* footer left */
.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 15px;
}

.footer-left #brano {
    display: flex;
    flex-direction: column;
}

.footer-left #brano p {
    color: rgb(113, 113, 113);
    font-weight: 600;
}

.footer-left #brano :first-child {
    color: white;
}

.footer-left #icon-left {
    padding-left: 50px;
}

.footer-left #icon-left i {
    padding-left: 15px;
    color: rgb(113, 113, 113);
}
/* fine footer left */

/* fine footer */

/* @media (max-width: 600px) {
    .navigation-section {
        width: 60px;
    }

    .middle-section {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}  */
