* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* fine common */


/* nav */
.navigation-section {
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
}

/* fine nav */


/* main */
.middle-section {
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    margin-left: 200px;
}
/* fine main */


/* footer */
.play-section {
    width: 100%;
    height: 100px;
}
/* fine footer */

@media (max-width: 600px) {
    .navigation-section {
        width: 60px;
    }

    .middle-section {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
} 













/* debug */
.navigation-section {
    background-color: aqua;
}

.middle-section {
    background-color: rgb(26, 75, 77);
}

.play-section {
    background-color: cornflowerblue;
}
/* fine debug */